<div class="container task-description">
    <h3>Task Description</h3>

    <ul>
        <li>Project : <a href="{{ .GitlabDomain }}/{{ .Project }}" target="_blank">{{ .Project }}</a></li>
        <li>Commit : <a href="{{ .GitlabDomain }}/{{ .Project }}/-/commit/{{ .Commit }}" target="_blank">{{ .Commit }}</a></li>
        <li>Created At : {{ .CreatedAt }}</li>
        <li>Service : <a href="{{ .Domain }}/service/{{ .Service }}" target="_blank">{{ .Service }}</a></li>
        <li>ID : {{ .ID }}
    </ul>

    <h3>Task Actions</h3>
    <a class="button" href="{{ .Domain }}/service/{{ .Service }}/{{ .Project }}/-/{{ .Branch }}/{{ .Commit }}/logs">Logs</a>
    <a class="button" href="{{ .Domain }}/service/{{ .Service }}/{{ .Project }}/-/{{ .Branch }}/{{ .Commit }}/volumes/data/result.html">Result</a>
</div>

<div class="container">
    <h3>{{ .InnerTitle }}</h3>

    <div class="{{ .InnerDivClasses }}">
        {{ .Inner }}
    </div>
</div>
