html {
  --font-color: #606c76;
  --primary-color: #ab4dda;
  --bg-light: #f4f5f6;
  --bg-error: #f44336;
  --bg-success: #29a445;
}

nav {
  min-height: 4rem;
  border-bottom: 0.2rem solid var(--font-color);
  margin-bottom: 4rem;
  background-color: var(--bg-light);
}

nav ul {
  margin-bottom: 0;
  list-style-type: none;
  overflow: hidden;
}

nav li {
  float: left;
  margin-bottom: 0;
}

nav li a {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: var(--primary-color);
  padding: 1rem;
  text-decoration: none;
}

nav li a:hover {
  color: var(--font-color);
}

h6 {
  text-decoration: underline;
}

.task-output {
  background-color: var(--bg-light);
  padding: 2rem;
}

.task-description a {
  font-weight: bold;
}

.label {
  font-weight: bold;
}

.success-box {
  width: auto;
  background-color: var(--bg-success);
  color: white;
  padding: 2rem;
}

.alert-box {
  background-color: var(--bg-error);
  color: white;
  padding: 2rem;
  width: auto;
}

.issue-description {
  margin-top: 2rem;
  background-color: white;
  padding: 2rem;
}

.terminal {
  min-height: 30%;
  padding: 2rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  font-family: monospace;
  text-align: left;
}

.terminal pre {
  background-color: black;
  border-left: none;
  margin: 1rem;
  padding: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
}
